
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#PlanetaTierra {
 position: relative;
}
.sobre {
 position:absolute;
 top:0px;
 left:0px;
 border:none;
}
body {
    background-image: url("fondoespacio.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

   
   <div id="PlanetaTierra">
 <img src="Planeta_Tierra.png" width="268" hspace="16" height="268" vspace="16" />
   
</div>
}

    
</style>
</head>
<body>

<h1>Hello World!</h1>

<p>This page has an image as the background!</p>

</body>
</html>
