
<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url("fondoespacio.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div {
    height: 100%;
    width: 100%;
    background-image: url("fondoespacio.png");
}
</style>
</head>
<body>

<h1>Hello World!</h1>

<p>This page has an image as the background!</p>

</body>
</html>
