body,html {
  height:100%;
  padding:0px;
  margin:0px
}
body {
  font-size:3vw
}
.a {
  background-color:blue;
}

.b {
  background-color:green;
}
.a,.b, {
  display:inline-block;
  width:33.33%;
  height:33.33%;
  float:left;
}
.c {
  background-image: url("luna.png");
  height:100%;
  width:100%;
  position:fixed;
  bottom:0px;
}
#Cohete {
  text-align:center;
  position:fixed;
  top:5%;
  width:100%;
  height:20%;
}
#Cohete img {
  height:100%;
}
#Planeta_Tierra {
   text-align:left;
   position:fixed;
   top:30%;
   width:100%
   height:20%;
}
#Planeta_Tierra {
  height:100%;
}

#cpanel {
}
